extends _pug-includes/layout.pug


block vars
    - var loggedUser = true

block content
       
    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Add new listing'})
    - var heroHeading = 'Add new listing'
    - var heroHeadingClass = 'hero-heading mb-5'
    
    //- include _pug-includes/inc-hero
    
    +progress(20)

    section.py-5
        .container

            +stepsHeading('Basic information', 1)

            form
                .row.form-block
                    .col-lg-4
                        h4 Basic
                        p.text-muted.text-sm #{dummyText[2]}
                    .col-lg-7.ml-auto
                        .form-group

                        .form-group
                            label.form-label(for="form_name") Property name
                            input.form-control(name="name", id="form_name")

                        .form-group
                            - var types = ['Entire place', 'Private room', 'Shared room']
                            label.form-label(for="form_type") Home type
                            select.selectpicker.form-control(name="type", id="form_type", data-style="btn-selectpicker", title="", aria-describedby="propertyTypeHelp")
                                each val, index in types
                                    option(value=`type_${index}`) #{val}                         
                            small#propertyTypeHelp.form-text.text-muted #{dummyText[5]}

                        .form-group
                            - var choices = ['Yes, it\'s primarily set up for guests', 'No, I keep my personal belongings there']
                            label.form-label Is your property set as a dedicated guest space?
                            each val,index in choices
                                .custom-control.custom-radio
                                    input.custom-control-input(type='radio', id=`guests_${index}`, name="guests")
                                    label.custom-control-label(for=`guests_${index}`) #{val}

                .row.form-block
                    .col-lg-4
                        h4 Location
                        p.text-muted.text-sm #{dummyText[3]}
                    .col-lg-7.ml-auto
                        // Country
                        .form-group
                            - var country_list = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania","Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia","Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];

                            label.form-label(for="form_country") Country / Region
                            select.selectpicker.form-control(name="country", id="form_country", data-style="btn-selectpicker", title=" ", data-live-search="true")
                                each val, index in country_list
                                    option(value="country_#{index}") !{val}             

                        // Street
                        .form-group
                            label.form-label(for="form_street") Street Address
                            input.form-control(name="name", id="form_street")    
                        // City + State
                        .row
                            .col-md-6
                                .form-group
                                    label.form-label(for="form_city") City
                                    input.form-control(name="name", id="form_city")                                            
                            .col-md-6
                                .form-group
                                    label.form-label(for="form_state") State
                                    input.form-control(name="name", id="form_state")      
                        // ZIP Code
                        .row
                            .col-md-6
                                .form-group
                                    label.form-label(for="form_zip") ZIP Code
                                    input.form-control(name="name", id="form_zip")                                                                       

                +stepsAdd(1)
