p.subtitle.text-sm.text-primary Reviews    
h5.mb-4 Listing Reviews 

- var reviews = []
- reviews.push({name: 'Padmé Amidala', role: 'founder', image: 'img/avatar/avatar-8.jpg', date: 'Dec 2018', stars: 5})
- reviews.push({name: 'Luke Skywalker', role: 'CTO', image: 'img/avatar/avatar-2.jpg', date: 'Dec 2018', stars: 4})
- reviews.push({name: 'Princess Leia', role: 'Team Leader', image: 'img/avatar/avatar-3.jpg', date: 'Dec 2018', stars: 3})
- reviews.push({name: 'Jabba Hut', role: 'Lead developer', image: 'img/avatar/avatar-4.jpg', date: 'Dec 2018', stars: 5})

- stars = [1,2,3,4,5]

each val, index in reviews
    .media.d-block.d-sm-flex.review
        .text-md-center.mr-4.mr-xl-5
            img.d-block.avatar.avatar-xl.p-2.mb-2(src=val.image, alt=val.name)
            span.text-uppercase.text-muted.text-sm #{val.date}
        .media-body
            h6.mt-2.mb-1 #{val.name}
            .mb-2
                for star, starIndex in stars
                    if (starIndex + 1 <= val.stars)
                        i.fa.fa-xs.fa-star.text-primary
                    else
                        i.fa.fa-xs.fa-star.text-gray-200
            p.text-muted.text-sm #{dummyText[index]}     